<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071713943888-08sd8f8jhsmcgtu41emkbukje07h4suv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071713943888-08sd8f8jhsmcgtu41emkbukje07h4suv</string>
	<key>API_KEY</key>
	<string>AIzaSyAzU_lh_GsQ7tnOB1BYu711QyFimkK6Vkk</string>
	<key>GCM_SENDER_ID</key>
	<string>1071713943888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quiz.com.example.quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-11a8c</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-11a8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071713943888:ios:05f87c360fd554edb9ac55</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-11a8c.firebaseio.com</string>
</dict>
</plist>